<div class="container">
    <h1>{{productName || "Loading..."}}</h1>
    <table class="item-list">
        <thead>
            <tr>
                <th scope="col">Loading point</th>
                <th scope="col">Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let loadingPoint of loadingPoints | keyvalue">
                <td>{{loadingPoint.value}}</td>
                <td>{{quantities?.get(loadingPoint.key) || 0}}</td>
            </tr>
        </tbody>
    </table>
</div>