<div class="container">
    <h1>{{driver ? "driver " + driver.firstName + " " + driver.lastName : "Loading driver..."}}</h1>
    <table *ngIf="this.driver != null" class="item-list">
        <tr>
            <th scope="row">Default Truck:</th>
            <td>{{driver.defaultTruck?.licensePlate}}</td>
        </tr>
        <tr>
            <th scope="row">Certifications:</th>
            <td>{{certifications.join(", ")}}</td>
        </tr>
        <tr *ngIf="missions.length">
            <td colspan=2>
                <table class="item-sublist">
                    <caption>
                        <h2>Missions of this driver</h2>
                    </caption>
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">date</th>
                            <th scope="col">loading city</th>
                            <th scope="col">truck</th>
                        </tr>
                        <tr>
                            <td colspan="6" style="border-top: 1px solid; padding: 0px;"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let mission of missions">
                            <th scope="row">{{mission.id}}</th>
                            <td>{{mission.loadingTime | date:'d MMMM y'}}</td>
                            <td>{{mission.loadingPoint?.address?.city}}</td>
                            <td>{{mission.truck?.licensePlate}}</td>
                            <!-- <td><button class="btn-more" title="Details on mission {{mission.id}}"
                                    routerLinkActive="btn-more-active" routerLink="./mission/{{mission.id}}"
                                    #state="routerLinkActive" (click)="checkState(state.isActive)">More...</button></td> -->
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</div>