<div class="container">
    <h1>{{driver ? "driver " + driver.firstName + " " + driver.lastName : "Loading driver..."}}</h1>
    <table *ngIf="this.driver != null" class="item-list">
        <tr>
            <th scope="row">Default Truck:</th>
            <td><button routerLink="/trucks/truck/{{driver.defaultTruck.licensePlate}}" class="btn-item-link"
                    title="Truck {{driver.defaultTruck.licensePlate}}"
                    *ngIf="driver.defaultTruck">{{driver.defaultTruck.licensePlate}}</button></td>
        </tr>
        <tr>
            <th scope="row">Certifications:</th>
            <td>{{certifications.join(", ")}}</td>
        </tr>
        <tr *ngIf="missions.length">
            <td colspan=2>
                <table class="item-sublist">
                    <caption>
                        <h2>Missions of this driver</h2>
                    </caption>
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">date</th>
                            <th scope="col">loading city</th>
                            <th scope="col">truck</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let mission of missions">
                            <th scope="row">{{mission.id}}</th>
                            <td>{{mission.loadingTime | date:'d MMMM y'}}</td>
                            <td>{{mission.loadingPoint?.address?.city}}</td>
                            <td><button routerLink="/trucks/truck/{{mission.truck.licensePlate}}" class="btn-item-link"
                                    title="Truck {{mission.truck.licensePlate}}"
                                    *ngIf="mission.truck">{{mission.truck.licensePlate}}</button></td>
                            <td><button class="btn-more" title="See mission {{mission.id}} in missions page"
                                    routerLink="/missions/mission/{{mission.id}}">See</button></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</div>