<ul>
    <li><a routerLink="/">-- BOFURI --</a></li>
    <li><a routerLink="/missions" routerLinkActive="active">Missions</a></li>
    <li><a routerLink="/orders" routerLinkActive="active">Orders</a></li>
    <li><a routerLink="/trucks" routerLinkActive="active">Trucks</a></li>
    <li><a routerLink="/drivers" routerLinkActive="active">Drivers</a></li>
    <li><a routerLink="/stock" routerLinkActive="active">Stock</a></li>
    <li><a routerLink="/phonebooks" routerLinkActive="active">Phonebook</a></li>
</ul>