<div class="container">
    <h1 *ngIf="this.missions == null">Loading missions...</h1>
    <h1 *ngIf="this.missions != null">{{missions.length }} missions planned</h1>
    <table class="item-list">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">loading time</th>
                <th scope="col">driver</th>
                <th scope="col">truck</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let mission of missions">
                <th scope="row">{{mission.id}}</th>
                <td>{{mission.loadingTime}}</td>
                <td>{{mission.driver == null ? "" : mission.driver.firstName + " " + mission.driver.lastName}}</td>
                <td>{{mission.truck == null ? "" : mission.truck.licensePlate}}</td>
                <td><button class="btn" routerLink="/mission/see/{{mission.id}}">More...</button></td>
            </tr>
        </tbody>
    </table>
</div>