<div class="grid">
    <div class="left-container">
        <h1 *ngIf="this.products == null">Loading orders...</h1>
        <h1 *ngIf="this.products != null">{{quantities.size + "/" + products.length }} product types in stock</h1>
        <table class="item-list">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">product</th>
                    <th scope="col">quantity</th>
                </tr>
                <tr>
                    <td colspan="5" style="border-top: 1px solid; padding: 0px;"></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <th scope="row">{{product.id}}</th>
                    <td>{{product.name}}</td>
                    <td>{{quantities.get(product.id) ? quantities.get(product.id) : "N/A" }}</td>
                    <td><button class="btn-more" title="Details on product {{product.id}}"
                            routerLinkActive="btn-more-active" routerLink="./product/{{product.id}}"
                            #state="routerLinkActive" (click)="checkState(state.isActive)">More...</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <router-outlet></router-outlet>
</div>