<div class="container">
    <h1 *ngIf="this.mission == null && this.id != -1">Loading...</h1>
    <h1 *ngIf="this.mission != null">Mission (id: {{mission.id}})</h1>
    <table *ngIf="this.mission != null" class="item-list">
        <tbody>
            <tr>
                <th scope="row">Loading time:</th>
                <td>{{mission.loadingTime | date:"d MMMM y - hh'h'mm"}}</td>
            </tr>
            <tr>
                <th scope="row">Loading point:</th>
                <td *ngIf="mission.loadingPoint != null">{{mission.loadingPoint.address.addressLine}} -
                    {{mission.loadingPoint.address.zipcode}} {{mission.loadingPoint.address.city.toUpperCase()}}</td>
            </tr>
            <tr>
                <th scope="row">Driver:</th>
                <td>{{mission.driver == null ? "" : mission.driver.firstName + " " + mission.driver.lastName}}</td>
            </tr>
            <tr>
                <th scope="row">Truck:</th>
                <td>{{mission.truck == null ? "" : mission.truck.licensePlate}}</td>
            </tr>
            <tr *ngFor="let orderContent of mission.orderContents; index as i">
                <th scope="row">{{i==0 ? "Order contents:" : ""}}</th>
                <td>{{orderContent.product.name}} : {{orderContent.quantity}} kg</td>
            </tr>
        </tbody>
    </table>
</div>