<div class="container">
    <h1>Add a mission</h1>
    <table [formGroup]="missionForm" class="item-list">
        <tbody>
            <tr>
                <th scope="row">Loading time:</th>
                <td>TODO: datetime selector - display (one of) the desired delivery date for comparison ?</td>
            </tr>
            <tr>
                <th scope="row">Loading point:</th>
                <td>
                    <select formControlName="loadingPoint">
                        <option value="">Choose a loading point</option>
                        <option *ngFor="let loadingPoint of loadingPoints" value="{{loadingPoint.id}}">
                            {{loadingPoint.address.addressLine}} - {{loadingPoint.address.city}}</option>
                    </select>

                </td>
            </tr>
            <tr>
                <th scope="row">Driver:</th>
                <td>
                    <select formControlName="driver" (ngModelChange)="onDriverChange()">
                        <option value="">Choose a driver</option>
                        <option *ngFor="let driver of drivers" value="{{driver.id}}">
                            {{driver.firstName}} {{driver.lastName}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th scope="row">Truck:</th>
                <td>
                    <input type="checkbox" (click)="toggleUseDefaultTruck()"
                        title="Use different truck than driver's default one">
                    <select formControlName="truck">
                        <option value="">Choose a truck (optional)</option>
                        <option *ngFor="let truck of trucks" value="{{truck.licensePlate}}">
                            {{truck.licensePlate}}</option>
                    </select>
                    <!-- TODO: check if truck is available when loading time is selected -->
                </td>
            </tr>
            <tr>
                <td colspan=2>
                    <table class="item-sublist">
                        <thead>
                            <tr>
                                <th scope="col">client</th>
                                <th scope="col">time</th>
                                <th scope="col">address</th>
                                <th scope="col">product</th>
                                <th scope="col">quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let support of supports">
                                <td>{{support.orderContent.order.client.abbrev}}</td>
                                <!-- <td>{{displayDateTime(support.plannedDeliveryTime, mission.loadingTime)}}</td>
                                <td>{{support.orderContent.deliveryPoint.address.addressLine}} <br>
                                  (ngSubmit)="onSubmit()  {{support.orderContent.deliveryPoint.address.city}}</td>
                                <td>{{support.orderContent.product.name}}</td>
                                <td>{{support.orderContent.quantity}}</td> -->
                            </tr>
                            <tr>
                                TODO: support selector (do not display supports already selected)
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan=2>
                    <button [disabled]="!missionForm.valid" (click)="onSubmit()">Submit</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>