$max-width-display-block: 1400px;
$max-width-ajusting-size: 4000px;
$margin-ratio: 5%;
$fixed-width-when-not-ajusting-size: 1800px;

:root {
    --grey-typo: #bdc1c6;
    --white-typo-btn: white;
    --dark-background: #202124;
    --dark-navbar: rgb(80, 51, 51);
    --black-hover: #111;
    --green-active: #459e48;
    --green-1: rgb(12, 100, 0); // buttons
    --green-2: rgb(10, 83, 0); // buttons on hover
    --green-3: rgb(5, 46, 0); // buttons when activated
}

.webpage {
    background-color: var(--dark-background);
    color: var(--grey-typo);
    text-align: center;
}

@media (max-width: $max-width-display-block) {
    .left-container {
        margin-left: $margin-ratio;
        width: 100% - 2*$margin-ratio;
        margin-right: $margin-ratio;
    }
    .grid {
        display: block;
    }
}

@media (min-width: $max-width-display-block) and (max-width: $max-width-ajusting-size) {
    .left-container {
        margin-left: $margin-ratio;
        width: 100% - $margin-ratio;
    }
}

@media (min-width: $max-width-display-block) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 0fr 1fr;
    }
}

@media (max-width: $max-width-ajusting-size) {
    
    .container {
        margin-left: $margin-ratio;
        width: 100% - 2*$margin-ratio;
        margin-right: $margin-ratio;
    }
}

@media (min-width: $max-width-ajusting-size) {
    .left-container, .container {
        margin: auto;
        margin-top: 0px;
        width: $fixed-width-when-not-ajusting-size;
    }
}

.item-list, .item-sublist {
    table-layout: auto;
    width: 100%;
    border: 3px solid;
}

.item-sublist {
    border: 1px solid;
}

.item-list tbody td, th {
    vertical-align: middle;
    text-align: center;
    padding: 12px 10px;
   // border: 1px solid;
}

.item-list tbody td > fa-icon {
    position: relative;
    float: left;
    // margin-right: 15px;
}


.item-list tbody td .item-link {
    display: block;
    font-size: 1.15em;
    padding-top: 3px;
    margin-left: 60px;
}
.item-list tbody td .item-subhead {
    font-size: 0.75em;
    font-style: italic;
}


.item-list tbody td > .btn {
    background-color: var(--green-1);
    border-color: var(--green-1);
    color: var(--white-typo-btn);
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
}

.item-list tbody td > .btn:hover {
    background-color: var(--green-2);
}

.item-list tbody td > .active {
    background-color: var(--green-3);
    border-color: var(--grey-typo);
}
