:root {
    --grey-typo: #bdc1c6;
    --white-typo-btn: white;
    --dark-background: #202124;
    --dark-navbar: rgb(80, 51, 51);
    --black-hover: #111;
    --green-active: #459e48;
    --green-1: rgb(12, 100, 0); // buttons
    --green-2: rgb(10, 83, 0); // buttons on hover
    --green-3: rgb(5, 46, 0); // buttons when activated
}

.webpage {
    background-color: var(--dark-background);
    color: var(--grey-typo);
}

@media (max-width: 4000px) {
    .container {
        margin-left: 10%;
        width: 90%;
    }
}

@media (min-width: 4000px) {
    .container {
        margin: auto;
        width: 1600px;
    }
}

.grid {
    display: grid;
    //grid-template-columns: 1fr 1fr;
}


.item-list {
    table-layout: auto;
    width: 100%;
    border: 3px solid;
}

.item-list tbody td, th {
    vertical-align: middle;
    text-align: center;
    padding: 12px 10px;
   // border: 1px solid;
}

.item-list tbody td > fa-icon {
    position: relative;
    float: left;
    // margin-right: 15px;
}


.item-list tbody td .item-link {
    display: block;
    font-size: 1.15em;
    padding-top: 3px;
    margin-left: 60px;
}
.item-list tbody td .item-subhead {
    font-size: 0.75em;
    font-style: italic;
}


.item-list tbody td > .btn {
    background-color: var(--green-1);
    border-color: var(--green-1);
    color: var(--white-typo-btn);
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
}

.item-list tbody td > .btn:hover {
    background-color: var(--green-2);
}

.item-list tbody td > .btn-activated {
    background-color: var(--green-3);
    border-color: var(--grey-typo);
}
